$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$accent-color: #2196f3;
$main-color: #212121;
$light-color: #ffffff;
$secondary-main-color: #757575;
$border-clients: #afb1b8;
$border-card: #eeeeee;
$background-advantages: #f5f4fa;
